name: maven

on:
  push:
    branches: [ '2.0.X', master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 17, 21 ]
        spark: [ '4.0.1', '4.1.7' ]

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: ${{ matrix.java }}
        cache: 'maven'
    - run: mvn -B -Dspark.version=${{ matrix.spark }} package --file pom.xml
