name: maven

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 11, 17 ]
        spark: [ '3.0.3', '3.4.4', '3.5.7' ]
        exclude:
          - java: 17
            spark: '3.0.3'

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: ${{ matrix.java }}
        cache: 'maven'
    - run: mvn -B -Dspark.version=${{ matrix.spark }} package --file pom.xml
